body {
    background-color: rgba(252, 253, 255, 1);
    color: rgb(78, 82, 93);
    font-family: "Noto Sans Japanese";
}

.card {
  margin: 0 10px 10px;
}

.port-header {
  padding: 30px 0;
}

.port-title {
  font-size: 40px;
}

.port-description {
  color: #333333;
  margin: 20px auto 30px;
  padding: 20px;
}

.port-content {
  padding: 10px 20px 20px;
}

.port-content-title {
  padding: 20px 0;
}
