body {
    background-color: rgb(178, 180, 185);
}

.port-title {
    color: rgb(11, 12, 14);
    font-size:32px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.port-main {
    width: 100%;
    margin: 0 auto;
}

.port-content-title {
    color: rgb(11, 12, 14);
    text-align: center;
}

.container {
    float:left;
}

.container h1 {
    padding: 10px 0;
    font-size: 25px;
}